<button (click)="logout()">Logout</button>
<div class="layout">
<app-movie-list [movies]="movies" (selectMovie)="selectMovie($event)"
    (editedMovie)="editMovie($event)" (createNewMovie)="createNewMovie()" (deletedMovie)="deletedMovie($event)"
></app-movie-list>
<div>
    <app-movie-details [movie]="this.selectedMovie" (updateMovie)="selectMovie($event)"></app-movie-details>
    <app-movie-form *ngIf="editedMovie" [movie]="this.editedMovie" (movieCreated)="movieCreated($event)"
    (movieUpdated)="movieUpdated($event)"></app-movie-form>  
</div>

</div>


